

<footer class="bg-gradient-to-b to-gray-600 from-gray-800 py-8 px-4">
    <div class="max-w-7xl mx-auto flex flex-wrap justify-between gap-8">
      {/* Brand Section */}
      <div class="flex-1 min-w-[250px]">
        <div class="text-2xl font-bold text-white mb-4">Woyota</div>
        <p class="text-white">Your one-stop shop for quality home items.</p>
      </div>
  
      {/* Contact Section */}
      <div class="flex-1 min-w-[250px]">
        <h3 class="text-lg font-semibold text-white mb-4">Contact Us</h3>
        <ul class="space-y-2">
          <li class="text-white">
            <span class="inline-flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>
              +91 9458708615
            </span>
          </li>
          <li class="text-white">
            <span class="inline-flex items-center">
              <svg id="Layer_1" class="w-4 h-4 mr-2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 241.19"><defs><style>.cls-1{fill:#25d366;fill-rule:evenodd;}</style></defs><title>whatsapp-color</title><path class="cls-1" d="M205,35.05A118.61,118.61,0,0,0,120.46,0C54.6,0,1,53.61,1,119.51a119.5,119.5,0,0,0,16,59.74L0,241.19l63.36-16.63a119.43,119.43,0,0,0,57.08,14.57h0A119.54,119.54,0,0,0,205,35.07v0ZM120.5,219A99.18,99.18,0,0,1,69.91,205.1l-3.64-2.17-37.6,9.85,10-36.65-2.35-3.76A99.37,99.37,0,0,1,190.79,49.27,99.43,99.43,0,0,1,120.49,219ZM175,144.54c-3-1.51-17.67-8.71-20.39-9.71s-4.72-1.51-6.75,1.51-7.72,9.71-9.46,11.72-3.49,2.27-6.45.76-12.63-4.66-24-14.84A91.1,91.1,0,0,1,91.25,113.3c-1.75-3-.19-4.61,1.33-6.07s3-3.48,4.47-5.23a19.65,19.65,0,0,0,3-5,5.51,5.51,0,0,0-.24-5.23C99,90.27,93,75.57,90.6,69.58s-4.89-5-6.73-5.14-3.73-.09-5.7-.09a11,11,0,0,0-8,3.73C67.48,71.05,59.75,78.3,59.75,93s10.69,28.88,12.19,30.9S93,156.07,123,169c7.12,3.06,12.68,4.9,17,6.32a41.18,41.18,0,0,0,18.8,1.17c5.74-.84,17.66-7.21,20.17-14.18s2.5-13,1.75-14.19-2.69-2.06-5.7-3.59l0,0Z"/></svg>
              WhatsApp: <a href="https://wa.me/message/G45SUJH6HPF2P1" class=" underline ml-2">here</a>
            </span>
          </li>
          <li class="text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 32 32"><g data-name="7-Email-Arrow up"><path d="M29 4H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h13v-2H3a1 1 0 0 1-1-1V7.23l13.42 9.58a1 1 0 0 0 1.16 0L30 7.23V17h2V7a3 3 0 0 0-3-3zM16 14.77 3.72 6h24.56z"/><path d="m24.29 18.29-4 4 1.41 1.41 2.3-2.29V29h2v-7.59l2.29 2.29 1.41-1.41-4-4a1 1 0 0 0-1.41 0z"/></g></svg>
            Email: <a href="mailto:woyotashop@gmail.com">woyotashop@gmail.com</a>
            </span>
          </li>
        </ul>
      </div>
  
      {/* Support Section */}
      <div class="flex-1 min-w-[250px]">
        <h3 class="text-lg font-semibold text-white mb-4">Support</h3>
        <ul class="space-y-2">
          <li>
            <a href="/help" class="text-white hover:text-gray-800 transition-colors">
              Help Center
            </a>
          </li>
          <li>
            <a href="/faq" class="text-white hover:text-gray-800 transition-colors">
              FAQ
            </a>
          </li>
          <li>
            <a href="/contact" class="text-white hover:text-gray-800 transition-colors">
              Contact Support
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    {/* Copyright Section */}
    <div class="max-w-7xl mx-auto mt-8 pt-8 border-t border-gray-200">
      <p class="text-center text-white text-sm">
        &copy; {new Date().getFullYear()} Woyota. All rights reserved.
      </p>
    </div>
  </footer>